<style>
h1{  text-align: center;}
th, td {
  padding: 20px;

}
th {
  text-align: left;
}

</style>

<h1>welcome to travel world:</h1>

{{ form_start(form) }}

<table>
  <tbody background="https://www.topappli.fr/wp-content/uploads/2018/04/Travel.jpg">

<div>
    <tr>
      <th>nom:</th>
      <td>{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th>prenom:</th>
      <td>{{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ form_widget(form.email) }}</td>
    </tr>
     <th>Date depart:</th>
      <td>{{ form_widget(form.Datedepart) }}</td>
    </tr>

 <th>Heure de Retour:</th>
      <td>{{ form_widget(form.dateretour) }}</td>
    </tr>
 <th>Heure de depart:</th>
      <td>{{ form_widget(form.heuredepart) }}</td>
    </tr>
 <th>Date de Retour:</th>
      <td>{{ form_widget(form.heureretour) }}</td>
    </tr>
 <th>moyen de transport:</th>

      <td>{{ form_widget(form.moyentransport) }}</td>
     

    </tr>
    <tr>
      
      <td>{{ form_widget(form.save) }}</td>
 <td>{{ form_widget(form.annuler) }}</td>
    </tr>

<div>
 </tbody>
</table>
 
{{ form_end(form) }}
