<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
h1{
  text-align: center;
}
</style>
<body background="">
<h1>la liste des déplacements </h1>

{% if deplacements is not empty %}
<table border="2">
  <thead>
    <tr>
      <th>nom</th>
      <th>prenom</th>
      <th>email</th>
      <th>date de depart </th>
      <th>date de retour</th>
      <th>moyen</th>
 <th colspan=2>edite</th>
    </tr>
  </thead>
  <tbody>
  {% for deplacement in deplacements %}
  <tr>
    <td>{{ deplacement.nom }}</td>
    <td>{{ deplacement.prenom }}</td>
    <td>{{ deplacement.email }}...</td>
<td>{{ deplacement.Datedepart|date('d-m-Y') }}</td>
<td>{{ deplacement.dateretour|date('d-m-Y') }}</td>

<td>{{ deplacement.moyentransport }}</td>
     <td><a href="delete-deplacement/{{ deplacement.id }}">Delete</a></td>
    <td><a href="update-deplacement/{{ deplacement.id }}">Update</a></td>
  </tr>
  
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No place found.</p>
{% endif %}

<br/>
<a href="/create-deplacement">Nouveau</a>
</body>

